body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    width: 100%;
    
    
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
}

p {
    color: white;
}

.container {
    max-width: 1170px;
    padding: 0 50px;
    margin: 50px 30px;
  }

.logo {
    width: 250px;
    margin-top: 20px;
  }

  .wrapper {
    height: 100%;
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    margin-right: 70px;
}

.content-left {
    padding-right: 3rem;
    display: block;
    margin-top: 50px;
}

.content-left img {
    width: 800px;
}

.content-right {
    margin-right: 70px;
    margin-bottom: 150px;
}

.btn-register {
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 15px;
    width: 200px;
    font-size: 20px;
    height: 55px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 1px 10px 13px hsl(257deg 40% 33%);
}

.btn-register:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.contact {
    margin-left: 76em;
    margin-top: 60px;
}

.icon {
  border: 2px solid white;
  padding: 20px;
  border-radius: 100%;
  margin-right: 15px;
  display: inline-flex;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.icon:hover{
    border: 2px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

.attribution {
    text-align: center;
    padding-left: 60px;
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
    * {
        box-sizing: border-box;
      }

    body {
        background-image: url(../images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        width: 100%;
    }


    .wrapper {
      
    }
    
    
  }
  
  /* Untuk Smartphone */
  @media only screen and (max-width: 670px) {

    * {
        box-sizing: border-box;
      }

    body {
        background-image: url(../images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        width: 100%;
        background-repeat: no-repeat;
    }

    .wrapper {
        width: 100%;
        height: auto;
        display: grid;
        text-align: center;
      }

      .content-left {
        width: 31%;
        display: grid;
      }

      .content-left img {
        width: 370%;
        padding-left: 30px;
        padding-right: 30px;
      }

    .content-right {
        width: 80%;
        padding-left: 6%;
        margin-top: 60px;
    }

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 25px;
      }
   
    .btn-register {
      width: 60%;
    }
    
    .contact {
        display: table-cell;
        padding-left: 18em;
      }

    .icon {
    margin-bottom: 10px;
    font-size: 21px;
    display: inline-flex;
    padding: 10px;
    }

    .attribution {
        font-size: 16px;
    }
    
  }